<div class="content">                
    <nav aria-label="breadcrumb" class="bc-nav">
        <ol class="breadcrumb container">
            <%if (variables.breadcrumb){ %>
                <li class="breadcrumb-item" aria-current="page"><a href="/">Home</a></li>
                <li class="breadcrumb-item active"><%= variables.breadcrumb %></li>
            <%}else{%>
                <li class="breadcrumb-item active" aria-current="page">Home</li>
            <%}%>
        </ol>
    </nav>
    <div class="content-title"><%= variables.title %></div>
    <%if (variables.user){%>
        <a class="logout-button" href="/logout">Log Out</a>
    <%}%>

    <div class="ease-buttons container">

        <div class="row">
            <div class="col-md-6 col-sm-12 ease-button-container">
               <a class="ease-button" href=<%= variables.option1Next %>>
                <img class="choices-image" src=<%= variables.image1 %> />
                <div class="ease-text"><%= variables.option1 %></div>
                </a> 
            </div>
            <div class="col-md-6 col-sm-12 ease-button-container">
                <a class="ease-button" href=<%= variables.option2Next %>>
                    <img class="choices-image" src=<%= variables.image2 %> />
                    <div class="ease-text"><%= variables.option2 %></div>
                </a> 
            </div>
        </div>
    </div>

</div>