<!DOCTYPE html>
<html>
    <head>
        <title> EaseAster | Log In</title>
        <%- include("mainheader") -%>
        <link rel="stylesheet" href="./css/forms.css">
    </head>
    <body>
        <%- include("header") -%>
        <nav aria-label="breadcrumb" class="bc-nav">
          <ol class="breadcrumb container">
              <li class="breadcrumb-item" aria-current="page"><a href="/">Home</a></li>
              <li class="breadcrumb-item" aria-current="page"><a href="/projects">Projects</a></li>
              <li class="breadcrumb-item active" aria-current="page">Home</li>
          </ol>
      </nav>
      <div class="content-title">NEW PROJECT</div>
      <a class="logout-button" href="/logout">Log Out</a>
      <div class="form-container new-project">
        <form action="/new-project" method="post">
            <input class="mb-4" type="text" name="pName" placeholder="Project's name"/>
            <div class="accordion accordion-flush" id="collection-accordion">
                <div id="product-filter-sidebar-manufacturers" class="product-filter-sidebar widget-area accordion-item" role="complementary">
                  <h3 id="heading-manufacturers" class="accordion-header">
                    <button data-bs-toggle="collapse" data-bs-target="#collapse-manufacturers" aria-controls="collapse-manufacturers" aria-expanded="false" class="add-point accordion-button collapsed" type="button"><span class="add">+</span> Add Collection Point <span class="optional-text">(Optional)</span></button>
                  </h3>
                  <div id="collapse-manufacturers" aria-labelledby="heading-manufacturers" data-bs-parent="#collection-accordion" class="accordion-collapse collapse">
                    <div class="accordion-body">
                      <input type="text" name="collectionName" placeholder="Collection's Point Name" />
                      <textarea maxlength="300" type="text" name="collectionDescription" placeholder="Description (general description and open hours)" ></textarea>
                      <div class="location-inputs">
                        <div class="location-iputs-title">Collection point address</div>
                        <div class="row">
                          <div class="col-md-6 col-sm-12">
                            <input type="text" name="collectionAddress" placeholder="Address"/>
                          </div>
                          <div class="col-md-4 col-sm-12">
                            <input type="text" name="collectionCity" placeholder="City"/>
                          </div>
                          <div class="col-md-3 col-sm-12">
                            <input type="text" name="collectionPostalCode" placeholder="Postal Code"/>
                          </div>
                          <div class="col-md-4 col-sm-12">
                            <input type="text" name="collectionArea" placeholder="Area/Region"/>
                          </div>
                          <div class="col-md-4 col-sm-12">
                            <input type="text" name="collectionCountry" placeholder="Country"/>
                          </div>
                        </div>
                      </div>
                        <% for (let category of allItems) { %>
                            <div class="accordion accordion-flush accordion-category">
                                <div class="accordion-item">
                                  <button data-bs-toggle="collapse" data-bs-target="#i-<%= category.id %>" aria-controls="collapse-manufacturers" aria-expanded="false" class="accordion-button collapsed" type="button"><%= category.name %></button>
                                  <div id="i-<%= category.id %>" class="check-elements accordion-collapse collapse collapsed">
                                    <% for (let item of category.items) { %>

                                      <div class="form-check">
                                        <input class="form-check-input checkbox-item" type="checkbox" name="collection[]" value='{"id": "<%= item.id %>", "name": "<%= item.name %>"}' id="i-<%= item.id %>">
                                        <label class="form-check-label" for="i-<%= item.id %>">
                                          <%= item.name %>
                                        </label>
                                      </div>

                                    <% } %>
                                  </div>
                                </div>
                              </div>
                              
                          <% } %>      
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion accordion-flush" id="product-filter-accordion">
                <div id="product-filter-sidebar-manufacturers" class="product-filter-sidebar widget-area accordion-item" role="complementary">
                  <h3 id="heading-distribution" class="accordion-header">
                    <button data-bs-toggle="collapse" data-bs-target="#distribution-point" aria-controls="distribution-point" aria-expanded="false" class="add-point accordion-button collapsed" type="button"><span class="add">+</span> Add Distribution Point <span class="optional-text">(Optional)</span></button>
                  </h3>
                  <div id="distribution-point" aria-labelledby="heading-manufacturers" data-bs-parent="#product-filter-accordion" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <input type="text" name="distributionName" placeholder="Distribution's Point Name" />
                        <textarea maxlength="300" type="text" name="distirbutionDescription" placeholder="Description (general description and open hours)"></textarea>
                        <div class="location-inputs">
                          <div class="location-iputs-title">Distribution point address</div>
                          <div class="row">
                            <div class="col-md-6 col-sm-12">
                              <input type="text" name="distributionAddress" placeholder="Address"/>
                            </div>
                            <div class="col-md-4 col-sm-12">
                              <input type="text" name="distibutionCity" placeholder="City"/>
                            </div>
                            <div class="col-md-3 col-sm-12">
                              <input type="text" name="distributionPostalCode" placeholder="Postal Code"/>
                            </div>
                            <div class="col-md-4 col-sm-12">
                              <input type="text" name="distributionArea" placeholder="Area/Region"/>
                            </div>
                            <div class="col-md-4 col-sm-12">
                              <input type="text" name="distributionCountry" placeholder="Country"/>
                            </div>
                          </div>
                        </div>
                        <% for (let category of allItems) { %>
                            <div class="accordion accordion-flush accordion-category">
                                <div class="accordion-item">
                                  <button data-bs-toggle="collapse" data-bs-target="#id-<%= category.id %>" aria-controls="id-<%= category.id %> aria-expanded="false" class="accordion-button collapsed" type="button"><%= category.name %></button>
                                  <div id="id-<%= category.id %>" class="accordion-collapse collapse collapsed check-elements">
                                      <% for (let item of category.items) { %>

                                        <div class="form-check">
                                          <input class="form-check-input checkbox-item" type="checkbox" name="distribution[]" value='{"id": "<%= item.id %>", "name": "<%= item.name %>"}' id="i-<%= item.id %>">
                                          <label class="form-check-label" for="i-<%= item.id %>">
                                            <%= item.name %>
                                          </label>
                                        </div>

                                      <% } %>
                                  </div>
                                </div>
                              </div>
                              
                          <% } %>      
                    </div>
                  </div>
                </div>
              </div>
              <div class="buttons-container">
            <a class="cancel-button" href="/projects">CANCEL</a>
            <button class="submit-button" type="submit">SAVE</button>
          </div>
        </form>
        </div>
        <!-- <script src="./js/new-project.js"></script> -->

        <%- include("footer") -%>