<!DOCTYPE html>
<html>
    <head>
        <title> EaseAster | Log In</title>
        <%- include("mainheader") -%>
        <link rel="stylesheet" href="./css/points.css">
    </head>
    <body>
        <%- include("header") -%>
        <nav aria-label="breadcrumb" class="bc-nav">
            <ol class="breadcrumb container">
                <li class="breadcrumb-item" aria-current="page"><a href="/">Home</a></li>
                <li class="breadcrumb-item" aria-current="page"><a href="/individual">Individual</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%= title %>
                </li>
            </ol>
        </nav>
        <div class="content-title">
            <% if (type=='D'){ %>
                DISTRIBUTION POINTS
            <% } else if (type=='C'){ %>
                COLLECTION POINTS
            <% } %>
        </div>
        <div class="container points-container">
        <% for (let point of points) { %>
            <% var infoPoints; %>
            <% if (type=='D'){ %>
                <% infoPoints = point.distributionPoints %>
                <% } else if (type=='C'){ %>
                    <% infoPoints = point.collectionPoints %>
                <% } %>
            <% for (let pointInfo of infoPoints) { %>
                <div class="point">
                    <div>
                        <% if (pointInfo.items.length>0){ %>
                            <% if (type=='D'){ %>
                                Distributed Items:
                            <% } else if (type=='C'){ %>
                                Collected Items:
                            <% } %>
                            <ul>
                                <% for (let item of pointInfo.items){ %>
                                    <li class="bold-text"><%= item.name %></li>
                                <% } %>
                            </ul>
                        <% } %>
                    </div>
                    <div>
                        <% if (type=='D'){ %>
                            Distributed by:
                        <% } else if (type=='C'){ %>
                            Collected by:
                        <% } %>
                        <%= point.user.name %>
                    </div>

                    <div>
                        <% if (type=='D'){ %>
                            Distributed at: <%= pointInfo.name %>
                        <% } else if (type=='C'){ %>
                            Collected at: <%= pointInfo.name %>
                        <% } %>
                    </div>
                    <div><%= pointInfo.description %></div>
                    <div>Location: <span class="bold-text"><%= pointInfo.address %></span></div>
                </div>
                <% } %>
            <% } %>
        </div>
<%- include("footer") -%>