<!DOCTYPE html>
<html>
    <head>
        <title> EaseAster | Projects</title>
        <%- include("mainheader") -%>
        <link rel="stylesheet" href="./css/projects.css">
    </head>
    <body>
        <%- include("header") -%>
        <nav aria-label="breadcrumb" class="bc-nav">
            <ol class="breadcrumb container">
                <li class="breadcrumb-item" aria-current="page"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Projects</li>
            </ol>
        </nav>
        <div class="content-title">RROJECTS</div>

        <a class="logout-button" href="/logout">Log Out</a>

        <div class="projects-container container">

            <% for (let project of projects) { %>
                <div class="project">
                    <a href="/delete-project?prId=<%= project._id %>" class="delete-project" >
                        <img src="./img/delete.png" />
                    </a>
                    <div class="project-title">
                        <%= project.name %>
                    </div>
                    <div class="row">
                        <div class="col-6">

                            <% if(project.collectionPoint){ %>
                                <div class="point-name">
                                    Collection Point
                                </div>
                                <div><span class="bold-text">Name: </span><%= project.collectionPoint.name %></div>

                                <div class="point-discription">
                                    <span class="bold-text">Description: </span> <%= project.collectionPoint.description %>
                                </div>
                                <div><span class="bold-text">Location: </span><%= project.collectionPoint.address %></div>
                                <div class="bold-text">Collected Items:</div>

                                <ul>
                                    <% for (item of project.collectionPoint.items) { %>
                                        <li><%= item.name %></li>
                                    <% } %>
                                </ul>
                                <a class="add-point" href="/edit-collection-point/?prid=<%= project._id %>&pointId=<%=project.collectionPoint._id%>&description=<%=project.collectionPoint.description%>&name=<%=project.collectionPoint.name%>&address=<%=project.collectionPoint.address%>">EDIT COLLECTION POINT</a>
                             <%} else { %>
                                <a class="add-point" href="/add-collection-point/?prid=<%= project._id %>">ADD COLLECTION POINT</a>
                            <%} %>
                        </div>
                        <div class="col-6">
                            <% if(project.distributionPoint){ %>
                                <div class="point-name">
                                    Distribution Point
                                </div>
                                <div><span class="bold-text">Name: </span><%= project.distributionPoint.name %></div>
                                <div class="point-discription">
                                    <span class="bold-text">Description: </span><%= project.distributionPoint.description %>
                                </div>
                                <span class="bold-text">Location: </span><%= project.distributionPoint.address %>
                                <div class="bold-text">Distributed Items:</div>

                                <ul>
                                    <% for (item of project.distributionPoint.items) { %>
                                        <li><%= item.name %></li>
                                    <% } %>
                                </ul>
                                <a class="add-point" href="/edit-distribution-point/?prid=<%= project._id %>&pointId=<%=project.distributionPoint._id%>&description=<%=project.distributionPoint.description%>&name=<%=project.distributionPoint.name%>&address=<%=project.distributionPoint.address%>">EDIT DISTRIBUTION POINT</a>
                            <%} else { %>
                                <a class="add-point" href="/add-distribution-point/?prid=<%= project._id %>">ADD DISTRIBUTION POINT</a>
                            <%} %>
                        </div>
                    </div>
                </div>
            <% } %>

            <a class="add-new-project" href="/new-project">
                <img class="add-new-project-image" src='./img/add-new.png' />
                <div>NEW PROJECT</div></a>
        </div>
    <%- include("footer") -%>